2. Lo de auc roc y auc pc no esta bien. 
3. Para ajustar Lambda usar F1 score.
4. Matriz de confusion y grafico de curva ROC y PR.
5. Definir que modelo enviar y justificar porqué.
Segun del dataset deberia cambiar el umbral porque para los de raw tengo muchos mas ceros. osea deberia cambiar el umbral para que sea mas estricto.