Problema 1:

1. Lo de auc roc y auc pc no esta bien. (DE BAJA, NO LO LOGRE)
2. Ver si puedo mejorar las métricas
3. Definir que modelo enviar y justificar porqué.


Problema 2:
ESTA MAL EL TP.PY EL LOAD FILE, COPIAR DEL PROBLEMA 1
