Problema 1:

1. Lo de auc roc y auc pc no esta bien. (DE BAJA, NO LO LOGRE)
2. Ver si puedo mejorar las métricas
3. Definir que modelo enviar y justificar porqué.
4. Tengo que preprocesar test tamb?
5. Esta mal hecho el preprocesamiento.

Problema 2:
1. Mejorar métricas
2. Definir que modelo enviar y justificar porqué.